<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Notes App</title>
</head>
<body>
        {% if current_user.is_authenticated %}
        <div class="user-info" style="margin-top: -20px;">
            Вы зашли как: {{ current_user.username }}
        </div>
        {% endif %}

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
</body>
</html>