.App {
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

.slide {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

#slide1 {
  background-color: #ffdd1e;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 100vh;
}

#slide2 {
  background: linear-gradient(to bottom, #ffdd1e, rgb(255, 255, 255));
}

#slide3 {
  background: linear-gradient(to bottom, #ffffff, #a0a0a0);
}

.form-container {
  width: 300px;
  padding: 20px;
  background: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 10px;
}

input {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  width: auto;
  min-width: 40%;
  background-color: #373737;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

button:hover {
  background-color: #373737;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  height: 60px;
  background-color: #333;
  padding: 0 20px;
}

.content-box {
  background-color: transparent;
  padding: 40px;
  border: 2px solid #333;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  text-align: center;
}

.content-box input {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.status-display {
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.nav-buttons {
  display: flex;
  position: fixed;
  right: 10%;
  justify-content: space-between;
  gap: 20px;
}

.nav-buttons a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.nav-buttons a:hover {
  text-decoration: underline;
}

#slide1 .logo-left,
#slide1 .logo-right {
  width: 15%;
  height: auto;
}

#slide1 .logo-left {
  margin-left: 25%;
  margin-right: 20px;
  top: 50%;
  left: 25%;
}

#slide1 .logo-right {
  margin-left: 20px;
  margin-right: 25%;
  top: 50%;
  right: 25%;
}

#slide1 img {
  max-width: 100%;
  height: auto;
}